
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    height: 100%;
}

/* 左侧侧边栏 */
.sideba {
    background-color: rgb(6,7,22);
    width: 172px;
    height: 100%;
    color: rgb(132,132,139);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.sideba a{
    color: rgb(132,132,139);
    text-decoration: none; 
    display: flex;
    justify-content: center;
}

.sideba .icon{
    line-height: 45px;
    margin-right: 5px;
}

.element a:hover{
    color: rgb(242,242,243);
}

/* 侧边栏标题 */
.sideba_title{
    height: 80px;
    color: rgb(242,242,243);
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.sideba_title h1{
    font-weight: bold;
}

.sideba_title .title_icon{
    line-height: 85px;
    margin-right: 5px;
}

.list .element{
    height: 45px;
    line-height: 45px;
}

.list .line{
    width: 70px;
    height: 1px;
    border: 1px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 20px auto;
}
