*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(22,24,35);
    display: flex;
}

/* 左侧侧边栏 */
.sideba {
    /* 设置背景颜色 */
    background-color: rgb(6,7,22);
    /* 设置长宽 */
    width: 172px;
    height: 100%;
    /* 设置前景色 */
    color: rgb(132,132,139);
    /* 设置字体大小 */
    font-size: 16px;
    /* 文字居中 */
    text-align: center;
    /* 字体加粗 */
    font-weight: bold;
}

/* 侧边栏下的a标签 */
.sideba a{
    color: rgb(132,132,139);
    /* 取消下划线 */
    text-decoration: none; 
    /* 开启浮点 */
    display: flex;
    /* 居中 */
    justify-content: center;
}

/* 侧边栏下的图标 */
.sideba .icon{
    /* 垂直居中 */
    line-height: 45px;
    /* 设置间距 */
    margin-right: 5px;
}

/* 鼠标移入效果 */
.element a:hover{
    color: rgb(242,242,243);
}

/* 侧边栏标题 */
.sideba_title{
    height: 80px;
    color: rgb(242,242,243);
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: -20px;
}

.sideba_title h1{
    font-weight: bold;
}

.sideba_title .title_icon{
    line-height: 50px;
    margin-right: 5px;
}

.list .element{
    height: 45px;
    line-height: 45px;
}

.list .line{
    width: 70px;
    height: 1px;
    border: 1px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 20px auto;
}

/* 顶部导航栏 */
.navigation{
    width: 100%;
    height: 77px;
    border-bottom: 2px solid;
    border-color: rgba(35, 36, 47, 1);
    display: flex;
    align-items: center;
}

/* 顶部导航栏左侧 */
.navigation-left{
    width: 60%;
    display: flex;
    justify-content: right;
}

.navigation-left .search{
    width: 428px;
    height: 40px;
    border: 2px solid rgb(186,186,189);
    border-radius: 5px;

}

.navigation-left .search input{
    width: 75%;
    height: 100%;
    background: none;
    border: none;
    border: 2px solid rgb(186,186,189);
    border-radius: 5px;
    color: rgba(226,223,227, 0.5);
    padding-left: 10px;
    border: none;
}
.navigation-left .search a{
    width: 20%;
    height: 100%;
    line-height: 40px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 7px;
}

.navigation-left .search input:focus{
    border: none;
    outline: none;
}

.navigation-left .search a:hover,
.navigation-left .search form:hover > a{
   background-color: #FFF;
   color: black;
   font-weight: bold;
}

.navigation-left .search:hover{
    border-color: rgb(232,232,233);
}

.navigation .options{
    display: flex;
}

/* 顶部导航栏中间 */
.navigation-middle{
    width: 30%;
    display: flex;
    justify-content: right;
}

.navigation .options .element{
    text-align: center;
    margin-right: 10px;
}

.navigation .options .element a{
    text-decoration: none;
}

.navigation .options .element .icon, 
.navigation .options .element .font{
    color: rgb(185,185,189);
}


.navigation .options .element a:hover > .icon,
.navigation .options .element a:hover > .font{
    color: #FFF;
}

/* 顶部导航栏右侧 */
.navigation-right{
    width: 10%;
    display: flex;
    justify-content: center;
}

.navigation .line{
    width: 1px;
    height: 35px;
    border: 1px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 20px auto;
}

.navigation-right .login a{
    width: 96px;
    height: 36px;
    line-height: 36px;
    background-color: rgb(254,44,85);
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navigation-right .login a:hover{
    background-color: rgb(210,27,70);
}
/* 下拉 */
.search .seachDropdownBox{
    display: none;
    width: 428px;
    height: 300px;
    background-color: rgb(37,38,50);
    position:absolute;
    top: 60px;
    z-index: 999;
    color: rgb(187,187,190);
}
.search:hover .seachDropdownBox{
    display: block;
}
.search:hover a{
    background-color: #FFF;
    color: black;
    font-weight: bold;
}

.search .seachDropdownBox .like,
.search .seachDropdownBox .hot{
    margin: 15px;
}

.search .seachDropdownBox .title{
    color: rgb(254,254,254);
    font-weight: bold;
    margin: 10px auto;
}

.search .seachDropdownBox .like .content{
    display: flex;
}

.search .seachDropdownBox .like .content .options{
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.search .seachDropdownBox .like .content .options:hover{
    color: rgb(223,43,79);
    background-color: rgb(65,66,76);
    border-radius: 5px;
}

.search .seachDropdownBox .like-list-left{
    margin-right: 50px;
}

.search .seachDropdownBox .like-list-left p:first-child,
.search .seachDropdownBox .like-list-right p:first-child{
    color: rgb(223,43,79);
}

.search .seachDropdownBox .hot-list .element{
    margin-bottom: 10px;
    padding-left: 10px;
}

.search .seachDropdownBox .hot-list .element:hover{
    color: rgb(223,43,79);
    background-color: rgb(65,66,76);
    border-radius: 5px;
}

.navigation-middle .element{
    position: relative;
}

/* 充抖币下拉框 */
.navigation-middle .dropdownBox{
    width: 220px;
    height: 0;
    overflow: hidden;
    background-color: rgb(37,38,50);
    border-radius: 5px;
    position:absolute;
    right: -90px;
    z-index: 999;
    color: rgb(187,187,190);
    transition: height 0.5s;
}

.navigation-middle .dropdownBox-active:hover + .dropdownBox{
    height: 120px;
    display: block;
    transition: height 0.5s;
}
.navigation-middle .dropdownBox:hover{
    display: block;
    height: 120px;
}

/* 充抖币下拉框文字居中 */
.navigation-middle .dropdownBox .title,
.navigation-middle .dropdownBox .content{
    text-align: center;
}

/* 设置充抖币下拉框上下间距 */
.navigation-middle .dropdownBox .title{
    margin: 10px auto;
}

/* 设置充抖币下拉框字体颜色以及大小 */
.navigation-middle .dropdownBox .content{
    color: #FFF;
    font-size: 18px;
}

.navigation-middle .dropdownBox a{
    color: #fff;
    background-color: rgb(254,44,85);
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 21px;
}
